@import "general.scss";

.about--container {
    padding: 0 100px;
}

.bg-h1 {
    color: $biege;
    font-size: 140px;
    text-transform: uppercase;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
}

.about--bg-h1, .about--h1 {
    grid-area: 1/1/2/9;
    align-self: center;
    justify-self: center;
}

.about-p1 {
    grid-area: 2/2/3/7;
}

.about-p2 {
    grid-area: 3/2/4/7;
}

.about-p3 {
    grid-area: 4/2/5/7;
}

.about-aside {
    grid-area: 2/9/4/12;
}

.about-aside-img {
width: 276px;
height: 160px;
}
