* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

$brown: #695A59;
$lightBrown: #A78587;
$biege: #EEE9E6;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f6f5;
    color: $brown;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
}

.h1 {
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
}


