* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

$brown: #695A59;
$lightBrown: #A78587;
$biege: #EEE9E6;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEE8E6;
    color: $brown;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
}

.h1 {
    // grid-area: 1/1/2/9;
    align-self: center;
    justify-self: center;
    font-family: 'Old Standard TT', serif;
    font-weight: 400;
    z-index: 10;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 42px;
}

.bg-h1 {
    grid-area: 1/1/2/9;
    align-self: center;
    justify-self: flex-start;
    color: #EAE1DC;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



