@import "general.scss";

.header {
    padding: 20px 0;
}

.header--container {
    padding: 0 100px;
}

.header--logo-link {
    display: grid;
    grid-template-columns: auto 200px;
    color: $brown;
    font-weight: 500;
    font-size: 14px;
}

.header__logo-img {
    grid-area: 1/1/3/2;
    align-self: center;
}

.header__tel-link {
    display: grid;
    grid-template-columns: repeat(2, auto);
    color: $brown;
}

.header__tel-link::before {
    content: '';
    width: 20px;
    background-image: url('../images/tel.svg');
    background-repeat: no-repeat;
}

.header__tel-img {
    grid-area: 1/1/3/2;
}

.header__tel-order {
    text-decoration: underline;
    grid-column: 2;
}

.header__address {
    display: grid;
    grid-column: -2;
    grid-template-columns: auto 260px;
    font-style: inherit;
}

.header__address::before {
    content: '';
    width: 20px;
    background-image: url('../images/mark.svg');
    background-repeat: no-repeat;
}

.header__burger-btn {
    background-image: url('../images/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #f8f6f5;
    grid-column: -1;
    width: 36px;
    height: 32px;
    justify-self: end;
}
