section.about 
    .container.about--container.grid
        h1.h1.about--h1 О КОМПАНИИ
        p.bg-h1.about--bg-h1 About us
        p.about-p1 Дорогие друзья! От имени команды Artendo textile studio, приветствую Вас на нашем сайте. 
        p.about-p2 Премиальный европейский текстиль – одно из самых главных направлений работы коллектива. Создавать неповторимые интерьеры для наших дорогих клиентов, уделяя внимание мельчайшим деталям – вот то,  что по-настоящему вдохновляет дизайнеров нашей студии. 
        p.about-p3 Наш коллектив сделает все, чтобы после сотрудничества с нами,  Вам было приятно сказать: « Да! Это именно то, что действительно достойно моего дома!»
        aside.about-aside
            img(src="./about.jpg", alt="").about-aside-img
            p Недавно мы писали статью о тканях, которые используем в работе, и источниках вдохновения.