section.about 
    .container.about--container.grid
        h1.about__h1 О КОМПАНИИ
        p.bg-h1.about__bg-h1 About us
        p.about-p1 Дорогие друзья! От имени команды Artendo textile studio, приветствую Вас на нашем сайте. 
        p.about-p2 Премиальный европейский текстиль – одно из самых главных направлений работы коллектива. Создавать неповторимые интерьеры для наших дорогих клиентов, уделяя внимание мельчайшим деталям – вот то,  что по-настоящему вдохновляет дизайнеров нашей студии. 
        p.about-p3 Наш коллектив сделает все, чтобы после сотрудничества с нами,  Вам было приятно сказать: « Да! Это именно то, что действительно достойно моего дома!»
        aside.about-aside
            img(src="./images/about.jpg", alt="").about-aside-img
            p.about__aside-p Недавно мы писали статью о тканях, которые используем в работе, и источниках вдохновения.
        div.about-priority
        p.about-priority--p Понимание тенденций рынка и особенностей менталитета наших клиентов приводит нас к созданию ценной концепции. Все проекты, которые мы делаем, созданы для людей. И это наш приоритет.
        p.about-offers Мы предлагаем только лучшее и нам важно, чтобы все идеально сочеталось, будь то классический или современный интерьер. Самые последние коллекции, созданные европейскими дизайнерами  – мастерами своего дела из лучших тканей,  всегда на нашем складе.
        img(src="./images/offers.jpg", alt="").about-offers-img
        p.about-pillow-p Подушки <a href="">Elixir №3</a> и <a href="">Elixir №21</a> из зимней коллекции 2020 года
        p.about-exclusive-p Мы не хотим просто делать текстиль. Мы хотим его создать. Мы хотим, чтобы он  был  исключительным  и отличался, сохраняя качество на максимальном уровне.