footer.footer
    .container.footer--container.grid
        h1.h1.footer__h1 мы всегда рады общению
        p.footer__bg-h1 Talk
        p.footer__p--call Оставьте свои контакты. Менеджер перезвонит в удобное вам время и ответит на все вопросы.
        form(action="").footer__form
            input(type="text", placeholder="Ваше имя").footer__input--name
            input(type="text", placeholder="Введите телефон").footer__input--tel
            select(name="").footer__select
                option(value="1", selected, disable) Удобное время
                option(value="1") a
                option(value="1") b
            div.agreements
                input(type="checkbox",id="check").visually-hidden
                label(for="check") Согласие на обработку персональных данных
            button.footer__button Оставить заявку
        img(src="./images/map.jpg", alt="").footer__map