header.header
    .container.header--container
        a(href="").header--logo
            img(src="./images/Abojur.svg", alt="")
            p Студия дизайнерского
            p текстиля в Санкт Петербурге