section.mission
    .container.mission--container.grid
        h1.h1--mission НАША МИССИЯ И ВИДЕНИЕ
        p.bg-h1--mission mission
        p.mission--descr Мы не хотим просто делать текстиль. Мы хотим, чтобы он  был  исключительным  и отличался, сохраняя качество на максимальном уровне. Продукты ABOJUR гарантируют вам оригинальный дизайн с превосходной отделкой ткани и изумительными элементами декора, которые сделают ваш интерьер уникальным.
        video(src="", poster="./images/m1.jpg").mission-video
        img(src="./images/m2.jpg", alt="").mission__img--dog
        img(src="./images/m3.jpg", alt="").mission__img--pillow