section.mission
    .container.mission--container.grid
        h1.h1 НАША МИССИЯ И ВИДЕНИЕ
        p.bg-h1 mission
        p Мы не хотим просто делать текстиль. Мы хотим, чтобы он  был  исключительным  и отличался, сохраняя качество на максимальном уровне. Продукты ABOJUR гарантируют вам оригинальный дизайн с превосходной отделкой ткани и изумительными элементами декора, которые сделают ваш интерьер уникальным.