section.popular 
    .container.popular--container.grid
        h1.h1 ДЛЯ ВАС ТОЛЬКО САМОЕ ЛУЧШЕЕ
        p.bg-h1 THE BEST
        div.popular-item.popular-item--1
            img(src="", alt="").popular-item__img.popular-item__img--1
            div.popular-item__description
                h2.popular-item__h2 Подушки Casa Nova
                p.popular-item__price от 15 000
                p.popoular-item__cost *стоимость варьируется в зависимости от размера изделия
                a(href="").popoular-item__button Заказать

        div.popular-item.popular-item--2
            img(src="", alt="").popular-item__img.popular-item__img--1
            div.popular-item__description
                h2.popular-item__h2 Подушки Casa Nova
                p.popular-item__price от 15 000
                p.popoular-item__cost *стоимость варьируется в зависимости от размера изделия
                a(href="").popoular-item__button Заказать

        div.popular-item.popular-item--3
            img(src="", alt="").popular-item__img.popular-item__img--1
            div.popular-item__description
                h2.popular-item__h2 Подушки Casa Nova
                p.popular-item__price от 15 000
                p.popoular-item__cost *стоимость варьируется в зависимости от размера изделия
                a(href="").popoular-item__button Заказать

        div.popular-item.popular-item--4
            img(src="", alt="").popular-item__img.popular-item__img--4
            div.popular-item__description
                h2.popular-item__h2 Подушки Casa Nova
                p.popular-item__price от 15 000
                p.popoular-item__cost *стоимость варьируется в зависимости от размера изделия
                a(href="").popoular-item__button Заказать

        div.popular-item.popular-item--5
            img(src="", alt="").popular-item__img.popular-item__img--5
            div.popular-item__description
                h2.popular-item__h2 Подушки Casa Nova
                p.popular-item__price от 15 000
                p.popoular-item__cost *стоимость варьируется в зависимости от размера изделия
                a(href="").popoular-item__button Заказать