section.progects
    .container.progects--container.grid
        h1.h1.progects__h1 НАМ ЕСТЬ, ЧЕМ ГОРДИТЬСЯ!
        p.bg-h1 PROJECTS
        div.progects-slider--container
            div.progects-slider
                    img(src="./images/progects-1.jpg", alt="").progects-slider--img
                    div.progects__slider-link
                        p Oформление коттеджа 
                        a(href="") Подробнее

            button.progects-slider__button.progects-slider__button--prev
            button.progects-slider__button.progects-slider__button--next
        