section.promo
        .container.promo--container.grid
            h1.promo__h1 создадим эмоцию вашего интерьера
            p.promo__descr Интерьерный текстиль по индивидуальным размерам с доставкой на дом 
            a(href="").promo__link получить консультацию
            img(src="./images/promo-1.jpg", alt="").promo-img