section.team
    .container.team--container.grid
        h1.h1.team__h1 НАША творческая КОМАНДА
        p.team__bg-h1 our team
        p.team__p.team__p--about-us Мы - студия текстиля и дизайна, которая хочет стать частью большой истории. Будь то уютный стул, цветочное растение или стена, которую нужно разрушить, чтобы расширить комнату, все это одинаково важно для нас. 
        p.team__p.team__p--about-work Работая по всей России, мы заботимся о том, как ваше пространство выглядит, чувствует и говорит. Все проекты созданы для людей. И это наш приоритет.
        p.team__p.team__p--progects Мы разработали проекты различного масштаба и имеем большой опыт работы во всех регионах. 
        img(src="./images/team.jpg", alt="").team-img